* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body { 
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    position: fixed;
    color: white;
    top: 0px;
    width: 1366px;
    background-color: green;
    text-align: center;
    padding: 20px 0px 20px 0px;
}

#super_container {
    position: absolute;
    margin-top: 20px;
    margin-left: 30px;
}

#minha_foto {
    border-radius: 10px;
    margin-top: 150px;
    margin-left: 50px;
}

#titulo_licoes {
    padding: 10px 0px 10px 0px;
    margin-left: -5px;
    text-align: center;
}

#licoes_container {
    margin-left: 50px;
}

