* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body { 
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    position: fixed;
    color: white;
    top: 0px;
    width: 100%;
    background-color: green;
    text-align: center;
    padding: 20px 0px 20px 0px;
    text-decoration: none;
}

#nav_menu li {
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

.item_menu {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
}

.item_menu:hover {
    color: rgb(39, 61, 39)
}

#super_container {
    margin-top: 20px;
    margin-left: 30px;
}

#minha_foto {
    border-radius: 10px;
    margin-top: 150px;
    margin-left: 50px;
}

#titulo_licoes {
    padding: 10px 0px 10px 0px;
}

#licoes_container {
    margin-top: 50px;
    margin-left: 50px;
    width: 100%;
    display: inline-block;
}

#licoes_container.lista_um {
    display: inline-block;
}

#titulo-licoes-a-aprender {
    padding: 10px 0px 10px 0px;
    margin-left: -5px;
}

#button-instagram {
    font-size: 12px;
    text-align: center;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    padding: 10px;
    width: 130px;
    background-color: red;
    border-radius: 5px;
    display: inline-block;
}

#button-instagram:hover {
    background-color: rgb(112, 0, 0);
}

.style_rodape {
    background-color: green;
    color: rgb(255, 255, 255);
    position: absolute;
    text-align: center;
    margin-top: 1080px;
    width: 1366px;
    height: 30px;
}

#texto_rodape {
    margin-top: 6px;
}

table.comBordaSimples {
    border-collapse: collapse; /* CSS2 */
    background: #FFFFF0;
    margin-top: 30px;
}
 
table.comBordaSimples td {
    border: 1px solid black;
    padding: 5px;
}
 
table.comBordaSimples tr {
    border: 1px solid black;
    background: #F0FFF0;
}

#passagem_sobre_aprendizado {
    width: 15%;
    height: 100%;
    position: fixed;
    top: 150px;
    right: 20px;
    background-color: rgb(190, 190, 190);
    padding: 10px;
    text-align: justify;
    line-height: 20px;
}

#paragrafo1 {
    width: 80%;
    text-align: justify;
    margin-top: 30px;
    line-height: 20px;
    margin-bottom: 30px;
}

.lista_um {
    display: inline-block;

}

.lista_dois {
    display: inline-block;
    margin-left: 80px;
}